@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container{
	width: 100%;
	min-height: 100vh;
	padding: 5%;
	background-image: linear-gradient(rgba(0,8,51,0.8),rgba(0,8,51,0.8)), url(worldmap-countries-hd.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-bar{
	width: 100%;
	max-width: 700px;
	background: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 10px 20px;
	backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 24px 20px;
	font-size: 20px;
	color: #cac7ff;
}

::placeholder{
	color: #cac7ff;
}

.search-bar button img{
	width: 25px;
}

.search-bar button{
	border: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #58629b;
	cursor: pointer;
}

.container h1{
    /* previous styles */
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 84px;
}

.page{
	padding: 5%;
	background: white;
	width: 70%;
	box-shadow: 0 0.3em 1em #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #1E90FF;
	width: 150px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

table.no-lines {
  border-collapse: collapse; /* remove the space between table cells */
  border: none; /* remove the border around the table */
}

table.no-lines td {
  width: 50%;
  border: none; /* remove the border around the cells */
  padding: 5px; /* add some padding to the cells */
}
